*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work sans", sans-serif;
}


/* TOOL */
.debug{
    border: 1px solid red;
}

/*SECTIONS LAYOUT */
.top-section{
    height: calc(100vh - 100px);
    display: flex;
}
#sidebar{
    display: flex;
}
.bottom-section{
    height: 100px;
    background-color: #282828;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 10px 30px 10px;
    overflow-y: hidden;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33px;
    background-color: black;
    text-align: center;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}
.main-content{
    width: calc(100vw - 33px);
    background-color: #151922;
    overflow: auto;
    padding: 15px;
}
header{
    position: fixed;
    left: 33px;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 33px);
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.sidebar-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.sidebar-options .icon-sidebar{
    height: 20px;
    opacity: 0.75;
}

.logo-sidebar{
    height: 25px;
    margin-bottom: 5px;
}

.main-nav{
    margin-top: 50px;
}

.player-left , .player-right{
    width: 25%;
    min-width: 125px;
    max-height: 50px;
    max-width: 200px;
}


.player-right{
    height: 50px;
    
}

.player-center{
    width: 50%;
    max-height: 50px;
}

.player-time{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}


.time{
    width: 10%;
    max-width: 30px;
}

.time-bar{
    width: calc(70% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    height: 3px;
    background-color: #595959;
    padding: auto 0;
    border-radius: 5px;
    cursor: pointer;
}

.progress-bar{
    background-color: #C1C1C1;
    width: 25%;
    height: 3px;
    border-radius: 5px;
    position: relative;
}
.time-bar:hover .progress-bar {
    background-color: #AFFD2F;
}

.time-bar:hover .progress-bar::after {
    display: block;
}

.progress-bar::after{
    content: "";
    background-color: #fff;
    aspect-ratio: 1/1;
    width: 10px;
    position: absolute;
    border-radius: 100%;
    bottom: -100%;
    right: 0;
    display: none;
}

.volume-bar:hover .volume-level::after {
    display: block;
}

.volume-level::after{
    content: "";
    background-color: #fff;
    aspect-ratio: 1/1;
    width: 10px;
    position: absolute;
    border-radius: 100%;
    bottom: -100%;
    right: 0;
    display: none;
}


.volume-icons{
    width: 40%;
    height: 50px;
}

.volume-icons i{
    font-size: 11px;
    margin-left: 5px;
    color: #C1C1C1;
}

.volume-icons i:hover {
    color: #fff;
    cursor: pointer;
}

.volume-controll{
    width: 60%;
}

.volume-level{
    background-color: #C1C1C1;
    width: 60%;
    height: 3px;
    border-radius: 5px;
    position: relative;
}

.volume-bar{
    width: 95%;
    height: 3px;
    margin-left: 5px;
    background-color: #595959;
    padding: auto 0;
    border-radius: 5px;
    cursor: pointer;
}

.volume-bar:hover .volume-level {
    background-color: #AFFD2F;
}

/* LAYOUT ELEMENTS */
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-100{
    width: calc(100vw - 50px);
}

/* UTILITY */
.block{
    display: block;
}

.width-full {
    width: 100%;
}

.unstyle-list{
    list-style: none;
}

.unstyle-link{
    text-decoration: none;
    color: black;
}

.txt-white{
    color: #fff !important;  
}
.txt-lightgrey{
    color: #A3A3A3;
}

.txt-end{
    text-align: end;
}

.margin-auto{
    margin: auto;
}

.d-hidden{
    display: none;
}

.d-hidden-flex{
    display: none;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: end;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.v-middle{
    vertical-align: middle;
}

    /* margin */
.me-10{
    margin-right: 10px;
}

.me-5{
    margin-right: 5px;
}
.ms-5{
    margin-left: 5px;
}

.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}

.mt-10{
    margin-top: 10px;
}

.mt-5{
    margin-top: 5px;
}
.mb-5{
    margin-bottom: 5px;
}



/* ADVANCED SELECTOR */
header a{
    font-size: 10px;
    font-weight: 600;
    padding: 7.5px 20px;
    margin-right: 5px;
    border-radius: 30px;
    border: 1px solid #fff;
    width: auto;
}

header a:hover{
    font-size: 11px;
}

.main-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-nav li{
    padding: 5px 10px;
    min-width: calc(25% - 10px);
    text-align: center;
    font-weight: 600;
    font-size: 12.5px;
}

.main-nav a{
    color: #818181;
}

.main-nav a:hover{
    color: #fff;
}

.recently-played h2{
    color: #fff;
    font-size: 25px;
}

.cover-card{
    width: calc(50% - 15px);
    margin-right: 15px;
    margin-bottom: 7.5px;
    text-align: center;
}
.cover-card img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

.cover-card h3{
    color: #fff;
    font-size: 15px;
}

.cover-card p{
    color: #818181;
    font-size: 9px;
    font-weight: 600;
}

.underline{
    position: relative;
    display: inline-block;
}
.underline::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: #AFFD2F;
    bottom: -2.5px;
    left: 50%;
    transform: translateX(-50%);
}

.vertical-line-highlight{
    position: relative;
    display: inline-block;
}


.artist-section .cover-card img{
    border-radius: 100%;
}

.cover-current{
    max-width: 30%;
}

.cover-current img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    max-width: 50px;
    max-height: 50px;
}

.current-title{
    font-size: 12.5px;
    font-weight: 600;
}

.info-current{
    width: calc(55% - 10px);
    vertical-align: middle;
    height: 100%;
    line-height: 12.5px;
    margin: auto;
}

.info-current .current-sub{
    font-size: 10px;
}


.icon-current{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2.5px;
    width: 15%;
    font-size: 12.5px;
}

.txt-lightgrey:hover{
    color: #fff;
}


.control-buttons i{
    margin: 10px 10px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////Chiedi come non far inluenzare gli altri bottoni con font */
.control-buttons .fa-2xl{
    font-size: 30px;
}

.hover-buttons .fa-2xl:hover{
    transform: scale(1.075);
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////Chiedi come non far inluenzare gli altri bottoni con font */

.control-buttons .fa-lg{
    font-size: 15px;
}

.playlist-add{
    margin-bottom: 10px;
}

.playlist-add p{
    font-weight: 600;
}
.playlist-add:hover{
    cursor: pointer;
}

.playlist-add:hover p {
    color: #fff;
}
.playlist-add:hover i {
    background-color: #fff;
}

.icon-top:hover p{
    color: #fff;
}

.icon-top:hover .icon-sidebar {
    opacity: 1;
}

.cta-app img{
    height: 10px;
}

.user img{
    height: 20px;
    background-color: #818181;
    aspect-ratio: 1/1;
    border-radius: 100%;
    color: #fff;
}
hr{
    border: 1px solid #818181;
    width: 120px;
    margin-bottom: 7.5px;
    margin-left: 15px;
    border: 100%;
    display: none;
}

.sub-info:hover p {
    color: #fff;
    text-decoration: underline;
}

.time p{
    font-size: 7.5px;
    font-weight: 500;
}

.sidebar-txt{
    font-size: 10px;
    margin-left: 3px;
    display: none;
    color: #818181;
}

.sidebar-txt-cta{
    font-size: 8.5px;
    margin-left: 3px;
    display: none;
    color: #818181;
}

h5{
    font-size: 12.5px;
    text-align: left;
}

.sidebar-txt-lg{
    font-size: 11px;
    text-align: left;
    color: #818181;
}

.fa-plus{
    color: black;
    background-color: #A3A3A3;
    font-size: 15px;
    padding: 5px;
    margin-right: 5px;
}

#sidebar li{
    text-align: left;
}

.top-sidebar{
    height: calc(100% -10px);
    overflow-y: hidden;
}

.list-scroll{
    height: calc(35vh - 50px);
    overflow-y: auto;
}

.img-card{
    position: relative;
    transition: all 0.5s;
}

.play-hidden{
    display: none;
}

.cover-card:hover{
    cursor: pointer;
}

.cover-card:hover .play-hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    aspect-ratio: 1/1;
    width: 100%;
    top: 0;
    font-size: 50px;
    cursor: pointer;
}

.sidebar a:hover{
    color: #fff;
}

/* MEDIA QUERY */

@media screen and (min-width : 576px) {
    .main-content{
        width: calc(100vw - 150px);
    }
    .sidebar{
        width: 150px;
    }
    header{
        width: calc(100vw - 150px);
        left: 150px;
    }
    .sidebar-options{
        align-items: center;
        justify-content: start;
        margin-left: 10px;
        margin-right: 15px;
    }

    /* UTILITY */
    .d-hidden{
    display: inline-block;
    }
    .d-hidden-md{
        display: none;
        }

    /* ADVANCED SELECTOR */
    .info-current .current-sub{
        display: inline;
    }
    .info-current .current-sub-dx{
        margin-left: -2.5px;
    }
    .logo-sidebar{
        height: 30px;
        margin-top: 5px;
    }
    hr{
        display: block;
    }

    .sidebar-txt , .sidebar-txt-cta{
        display: inline-block;
    }

    .bottom-sidebar{
        z-index: 2;
        position: absolute;
        bottom: 100px;
        max-width: 150px;
        height: calc(30vh -100px);
        background-color: black;
    }

    .vertical-line-highlight::before {
        content: "";
        position: absolute;
        width: 2.5px;
        height: 22.5px;
        background-color: #AFFD2F;
        top: 32px;
        left: 0px;
        transform: translatey(50%);
    }
    
}

@media screen and (min-width : 768px) {
    /* ADVANCED SELECTOR */
    .main-nav li{
        min-width: calc(100% / 5 - 10px);
    }
    .cover-card{
        width: calc(25% - 15px);
    }
    .icon-current{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        width: 15%;
    }
    
}

@media screen and (min-width : 992px) {
    /* ADVANCED SELECTOR */
    .main-nav li{
        min-width: auto;
    }
    .cover-card{
        width: calc(100% / 6 - 15px);
    }
}