*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TOOL */
.debug{
    border: 1px solid red;
    height: 25px;
}

/*SECTIONS LAYOUT */
.top-section{
    height: calc(100vh - 100px);
    background-color: rgb(255, 99, 99);
    display: flex;
}
#sidebar{
    display: flex;
}
.bottom-section{
    height: 100px;
    background-color: rgb(0, 13, 255);
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    background-color: rgb(22, 125, 68);
    text-align: center;
}
.main-content{
    width: calc(100vw - 50px);
    background-color: beige;
}
header{
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 50px);
    text-align: end;
}
.sidebar-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav{
    margin-top: 100px;
}

/* LAYOUT ELEMENTS */
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-100{
    width: calc(100vw - 50px);
}

/* UTILITY */
.d-hidden{
    display: none;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.unstyle-list{
    list-style: none;
}

.unstyle-link{
    text-decoration: none;
    color: black;
}

    /* margin */
.me-10{
    margin-right: 10px;
}


/* ADVANCED SELECTOR */
.main-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-nav li{
    padding: 5px;
    min-width: calc(25%);/*chiedi perchè con min-width funziona e senza i testi lunghi vanno a capo */
    text-align: center;
}



/* MEDIA QUERY */

@media screen and (min-width : 576px) {
    .main-content{
        width: calc(100vw - 250px);
    }
    .sidebar{
        width: 250px;
    }
    header{
        width: calc(100vw - 250px);
        left: 250px;
    }
    .sidebar-options{
        align-items: center;
        justify-content: start;
    }
    /* UTILITY */
    .d-hidden{
    display: inline-block;
    }
}

@media screen and (min-width : 768px) {

    /* ADVANCED SELECTOR */
    .main-nav li{
        min-width: calc(100% / 5);/* non capisco perche non funziona */
    }
}